$animDuration: .8s;

.DrawerNavContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .drawer-page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    & > * {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }
  }

  .drawer-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 4vw;
    height: 100vh;
    transition: width $animDuration ease-in-out, filter $animDuration * 1.5 ease-in-out;

    .drawer-label {
      z-index: 1000;
      margin: 1rem;
      border-left: 2px solid transparent;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }

    &.active {
      width: 100%;
      cursor: unset;
    }

    &.not-active {
      &:hover {
        .register-label {
          border-left: 2px solid black;
        }
      }
    }
  }
}
