$animDuration: .8s;

.DrawerNavContainer {
  display: flex;
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;

  .drawer-page-container {
    overflow: hidden;
    height: 100%;

    .inner-drawer-container {
      height: 100%;
      width: 100%;

      & > * {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
      }
    }
  }

  .drawer-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    transition: width $animDuration ease-in-out,
    height $animDuration ease-in-out,
    filter $animDuration * 1.5 ease-in-out;

    .drawer-label {
      display: flex;
      align-items: center;
      z-index: 1000;
      border-left: 2px solid transparent;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
      transition: min-width $animDuration ease-in-out,
      min-height $animDuration ease-in-out;

      h4 {
        margin-right: 4px;
        border-left: 2px solid transparent;
      }
    }

    &.active {
      width: 100%;
    }

    &.not-active {
      width: 3rem;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    .drawer-item {
      flex-direction: column;

      .drawer-label {
        transform: unset;
        writing-mode: unset;
        min-height: 50px;

        h4 {
          padding-top: 0.5rem;
          margin: unset;
          border: unset;
        }
      }
    }
  }

  .link:hover {
    border-left: 2px solid black;
  }
}
