$animDuration: .8s;

.NavContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .page {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .register-nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 4vw;
    height: 100vh;
    transition: width $animDuration ease-in-out, filter $animDuration * 1.5 ease-in-out;
    background-color: deepskyblue; // todo: remove

    .register-label {
      z-index: 1000;
      margin: 1rem;
      border-left: 2px solid transparent;
      text-align: center;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
    }

    &.active {
      width: 100%;
      cursor: unset;
    }

    &.not-active {
      &:hover {
        .register-label {
          border-left: 2px solid black;
        }
      }
    }
  }
}
