@import "../../variables";

.SchnapsContent {

  img {
    width: 100%;
  }

  .header {
    margin: auto;
    max-width: 900px;

    .header-img-container {
      position: relative;
      overflow: hidden;

      .front {
        transition: transform .3s ease-out;
        top: 0;
        left: 0;
        position: absolute;
        transform-origin: bottom center;
      }
    }

    .header-text-container {
      width: 80%;
      margin: auto;
      transform: translateY(-4rem);
      padding: 1rem 3rem;
      background-color: $clr_yellow_light;

      h1, h2 {
        margin: unset;
        padding: unset;
      }
    }
  }

  .body {
    .item-row {
      margin: 1rem 0;

      h2, h3, p {
        margin: unset;
        padding: unset;
        width: fit-content;
      }

      img {
        max-width: 80vw;
        display: flex;
        border-radius: 50%;
        margin: 1rem auto;
      }

      h2 {
        background-color: $clr_yellow_light;
        width: fit-content;
        padding: .2rem .4rem;
      }

      .vertical-container {
        justify-content: flex-start;
      }

      &.un-even {
        h2, h3, p {
          align-self: flex-end;
        }
      }

      &.even {
        flex-direction: row-reverse;

        h2, h3, p {
          align-self: flex-start;
        }
      }
    }
  }

  .Footer {

  }
}
