.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  min-height: 40vh;
  width: 100vw;
  overflow: hidden;

  .special-header {
    text-transform: uppercase;
    font-size: 13vmax;
  }

  .special-subheader {
    font-size: 5vmax;
    transform: translateY(-0.4em);
    margin-top: unset;
  }

  .topBackground {
    position: fixed;
    top: -56px;
    z-index: -2;
    height: 50vh;
    width: 100vw;
  }

  .logoContainer {
    transform-origin: bottom center;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white;

    transition: opacity 50ms linear;
    z-index: -1;

    .Logo {
      max-width: 50vw;
    }
  }
}