.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  min-height: 40vh;

  .topBackground {
    position: fixed;
    top: -56px;
    z-index: -2;
    height: 50vh;
    width: 100vw;
  }

  .logoContainer {
    transform-origin: bottom center;
    //transition: opacity 400ms ease-in-out;
    transition: opacity 50ms linear;
    z-index: -1;

    .Logo {
      max-width: 50vw;
    }
  }
}