.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  min-height: 40vh;
  width: 100vw;
  overflow: hidden;

  .headerContainer {
    margin-top: 2em;
    z-index: 1000;

    .specialHeader {
      text-transform: uppercase;
      font-size: 13vmax;
    }

    .specialSubheader {
      font-size: 5vmax;
      transform: translateY(-0.4em);
      margin-top: unset;
    }
  }

  .topBackground {
    position: fixed;
    top: -56px;
    height: 80vh;
    width: 100vw;
    z-index: -1000;
  }

  .logoContainer {
    transform-origin: bottom center;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white;
    transition: opacity 50ms linear;
    width: 300px;
    max-width: 50vw;
  }
}