@import 'variables';

html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;
    background-color: $clr_green !important;
    font-family: 'Lato', sans-serif;

    h1, h2, h3 {
      font-family: 'Josefin Sans', sans-serif !important;
      text-align: center;
    }

    h1 {
      font-size: 6vmax;
      margin: 2em 0 1em;
    }

    h2 {
      margin: 0.5em 0;
    }

    p {
      max-width: 600px;
      line-height: 1.9em;
    }

    a {
      color: $clr_black;
      padding-bottom: 0.1em;
      border-bottom: 0.2em solid white;


      &:hover {
        color: $clr_red_dark;
        text-decoration: none;

      }
    }
  }
}
