@import "../../variables";

.YogaPage {
  font-family: Lato, Avenir sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 10vh;

  .contentContainer {
    margin: 0 1em;

    & > * {
      padding: 2em 0 3em;
    }
  }

  .bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: $clr_black;
    background-image: linear-gradient(to bottom, $clr_green_dark, $clr_green);
    color: $clr_black;

    h3 {
      transform: translateY(-0.5em);
      margin: 0;
    }
  }
}
